*{
  margin: 0;
  padding: 0;
}


body{
  color: #fff;
  background-image: url(./img/zonsondergang-aan-de-paalse-plas-1.jpg);
  width:fit-content;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.form-content {
  width:300px;
  height:370px;
  position: absolute;
  top: 50%;
  left: 48%;
  margin: -184px 0px 0px -155px;
  background: rgb(39 35 33 / 26%);
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.6),inset 0px 1px 0px rgba(255,255,255,0.04);}
  
  
  input.info{
    color:wheat;
    width:100%;
    height:50px;
    margin:3px;
    background-color:transparent;
    font-size:20px;
    border-radius:1px;
    border-color:#ff9800e0;
  }
  
  
  .button-panel{
    width:100%;
    height:40px;
    border:none;
    border-radius:2px;
    background-color:#00bcd4b5;
    font-size:25px;
    color:white;
    font-family:monospace;
    transition:background-color 0.5s linear;
  }
  
  .button-panel:hover{
  background-color:#a40f04d4;
}

#signup{
  font-size:25px;
  color:#650a04;
  transition:color 0.5s linear;
  font-weight:bold;
}

#signup:hover{
  color:#440602;
}
  
.header{
  background-color:#27180e87;
  font-size:30px;
  position:absolute;
  top:20%;
  color:white;
  width:50%;
  left:50px;
  font-family:cursive;
}

.logout{
    color:red;
    font-size: 30px;
    font-weight: bold;
}

.footer {
  background-color:#101515;
  position:fixed;
  width:100%;
  bottom:0%;
  padding:20px;
}

.success{
  color:#139e48;
}

.err{
  color:#d61402;
}

input#dob {
  background:transparent;
  border:none;
  color:#fff;
  font-size:20px;
}


input#place {
  background:transparent;
  border:none;
  border-bottom:1px solid #ffffff;
  }

.mainheader {
    background-color:#111212;
    background-attachment:fixed;
    z-index:1; 
    color:white;
    width:1000px;
    padding:30px;
}

.user {
  background:rgba( 0 0 1 0.8);
  color:white;
  position:fixed;
  left:15%;
  top:25%;
  height:50%;
  width:75%;
  border:1px  #907171;
  box-shadow:1px 1px 10px 15px #020609;
}
i.fas.fa-user {
  font-size:60px;
  position:fixed;
  top:30%;
  left:40%;
  border:1px solid;
  padding:20px;
  border-radius:50%;
  

}
  
.user_details {
  position:relative;
  font-size:20px;

}

.fa-envelope{
  font-size:30px;
  position:relative;
  top:40%;
  left:-2%;
  
}

a.links {
  color:aliceblue;
}

img#userPic {
  width:40%;
  border-radius:50%;
  border:3px solid white;
  position:relative;
  left:50%;
}